extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Task Manger
    div.Auth
      div.Message
        div.Title
          h3 A place for you to create a personalized todo list
        span.Details Access your Task Manager Portal
        if isAuthenticated
          a(href="/user")
            div.NavButton View My Tasks!
        else
          a(href="/login")
            div.NavButton Log in
      