* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #87ceeb;
    height:100%;
    width:100%;
}

.content {
    height:100%;
    width:100%;
    background-position: center;
    padding: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.content h1 {
    font-family: "Baskerville Old Face";
}

.myButton {
	background-color:#77b55a;
	border-radius:28px;
	border:2px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:15px 27px;
	text-decoration:none;
	text-shadow:0px 1px 1px #5b8a3c;
}
.myButton:hover {
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.buttons{
 display:flex;
 justify-content:center;
 align-items:center;
 height:100%;
}

